*,
::after,
::before {
  box-sizing: border-box;
}

.timer-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-family: Rouge Script, cursive;
  font-size: 70px;
  font-weight: 50px;
  color: red;
  text-align: center;
}

.timer {
  border: 1px solid whitesmoke;
  border-radius: 40px;
  background-color: pink;
  color: white;
  padding: 50px 20px;
}
p {
  font-size: 70px;
  padding: 10px 5px;
  margin: 5px 10px;
  line-height: 50px;
  color: #fff;
  font-family: Carme, sans-serif;
}
.timer-display {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-wrapper {
  display: flex;
  padding: 10px 5px;
  margin: 10px 5px;
  justify-content: center;
  align-items: center;
}

button {
  max-width: 33%;
  height: auto;
  border-radius: 40px;
  border: 1px solid white;
  background-color: pink;
  padding: 5px 10px;
  margin: 5px 10px;
  font-size: 2.5rem;
  color: white;
}
button:hover {
  background-color: rgb(205, 88, 223);
  cursor: pointer;
}
